* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #1A2930;
    position: relative;
}

a {
    font-family: Kanit, Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    color: white;
}

ul {
    width: 100%;
    padding: 0;
    list-style-type: none;
}

li {
    padding: 0px 5px;
    font-family: Kanit, Arial, sans-serif;
    margin-top: 15px;
    
}

li > input {
    margin-right: 10px;
}

li > button {
    background-color: #F7CE3E;
    font-family: Kanit, Arial, sans-serif;
}

#left {
    width: 0;
    overflow: hidden;
    border-right: 2px solid #F7CE3E;
}

#left > p {  /* element with id="empty-text"  */
    display: block;
    color: white;
    font-family: Kanit, Arial, sans-serif;
}

#header {
    background-color: #1A2930;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 4% 5px 3%;
    display: flex;
    height: 80px;
    border-bottom: 3px solid #F7CE3E;
    box-shadow: 2px 2px 3px #F7CE3E;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
}

#header > p {
    color: white;
    font-family: "Gamja Flower";
    font-size: 40px;
    margin-right: 3%;
}

#header > p > span {
    color: #F7CE3E;
    font-style: italic;
}

#header > div {
    display: flex;
    width: 10%;
    border: 2px solid #F7CE3E;
    padding: 3px;
    text-align: center;
}

#header > div > a {
    font-size: 16px;
    color: white;
    width: 100%;
}

#content {
    display: flex;
    gap: 40px;
    margin: 130px 3%;
    justify-content: space-between;
}

#middle {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    text-align: center;
}

#middle > h1 {
    margin: 0;
}

#search {
    margin-top: 10px;
    display: flex;
}

#right {
    width: 0;
}

#search-map {
    width: 100%;
    height: 550px;
    box-shadow: 10px 10px 1px #a1a3a3;
}

#search-box {
    font-family: Kanit, Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding-left: 15px;
    padding-bottom: 2px;
    width: 85%;
    height: 34px;
    border: 3px solid #C5C1C0;
    color: #0A1612;
    background-color: #F7CE3E;
}

#search-button {
    margin-left: 1%;
    width: 15%;
    padding: 3px;
    border: 2px solid #F7CE3E;
}

#add-button {
    width: 30%;
    font-size: 16px;
    align-self: center;
    border: 2px solid #F7CE3E;
    padding: 3px;
}

#collection-map {
    width: 100%;
    height: 700px;
    display: none;
    box-shadow: 10px 10px 1px #a1a3a3;
}

#left.appearance {
    color: white;
    width: 20%;
    height: 700px;
    overflow: scroll;
}

#left.appearance-none {
    width: 6%;
    height: 700px;
    border-right: 2px solid #F7CE3E;
}

#middle.none {
    display: flex;
    width: 92.5%;
}


@media (max-width: 1400px) {

    .flex-container {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #middle.midd-el {
        width: 89%;
    }

    #middle.middle-element-appearance {
        width: 75%;
    }

    #header > div {
        width: 20%;
    }

}

@media (min-width: 1400px) {

    #middle.midd-el {
        width: 95%;
    }

    #middle.middle-element {
        width: 55%;
    }

    #middle.middle-element-appearance {
        /* width: 75%; */
    }

}